<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/main.css') }}">
    </head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Explore</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select a file<b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for file in files %}
                <li><a href="http://localhost:8000/explore/{{ escape(file) }}">{{ escape(file) }}</a></li>
              {% end %}
            </ul>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">

{% if data is not None%}
{{ data }}



{% else %}
 <div class="hero-unit">
  <h1>Select a file on the navbar (above)</h1>
</div>
{% end %}
</div>

<script src="{{ static_url('js/vendor/jquery-1.9.0.min.js') }}"></script>
<script src="{{ static_url('js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/vendor/underscore-min.js') }}"></script>
<script src="{{ static_url('js/vendor/backbone-min.js') }}"></script>
<script src="{{ static_url('js/vendor/d3.min.js') }}"></script>
<script src="{{ static_url('js/vendor/nv.d3.min.js') }}"></script>
<script src="{{ static_url('js/main.js') }}"></script>
</body>
</html>
