language: python

python:
  - 3.3

virtualenv:
  system_site_packages: true

before_install:
 - sudo apt-get install -qq python-scipy

install:
  - pip install -r requirements.txt --use-mirrors

script: nosetests
